/*******************************/
/******* Page Header CSS *******/
/*******************************/
.metal-header {
    position:relative;
    margin-bottom: 45px;
    padding: 150px 0 90px 0;
    text-align: center;
    /* background: #F7CAC9;  */
    background:url(../img/medal4.jpg) ;
    object-fit:fill;
    /* background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../img/frame3.jpg); */
}
.romt{
    /* position: absolute; */
    margin: auto;
    width: 500px;
    height: 200px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 16px rgba(0, 0, 0,0.5);
}

.metal-header h2 {
    position: relative;
    color: #f35413;
    font-size: 60px;
    font-weight: 700;
}

.metal-header a {
    position: relative;
    padding: 0 12px;
    font-size: 22px;
    color: #343148;
}

.metal-header a:hover {
    color: #ffffff;
}

.metal-header a::after {
    position: absolute;
    content: "/";
    width: 8px;
    height: 8px;
    top: -2px;
    right: -7px;
    text-align: center;
    color: #343148;
}

.metal-header a:last-child::after {
    display: none;
}

@media (max-width: 767.98px) {
    .metal-header h2 {
        font-size: 35px;
    }
    
    .metal-header a {
        font-size: 18px;
    }
}
/*******************************/
/********** Class CSS **********/
/*******************************/
.class {
    position: relative;
    padding: 45px 0 15px 0;
}

.class #class-filter {
    padding: 0;
    margin: -15px 0 25px 0;
    list-style: none;
    font-size: 0;
    text-align: center;
}

.class #class-filter li {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 6px 12px;
    color: #343148;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0;
    background: none;
    border: 1px solid #343148;
    transition: .3s;
}

.class #class-filter li:hover,
.class #class-filter li.filter-active {
    background: #343148;
    color: #f35413;;
}
/************/
.class #class-filter li a:hover{
    background: #343148;
    color: #f35413;;
}
/************/
.class .class-item {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    transition: .3s;
}

.class .class-wrap {
    position: relative;
    width: 100%;
}

.class .class-img {
    position: relative;
}

.class .class-img img {
    position: relative;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}
/*********/
.class .class-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.class .class-social a {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    font-size: 16px;
    color: #f35413;
    background: #343148;
    opacity: 0;
}

.class .class-social a:hover {
    color: #343148;
    background: #f35413;
}


.class .class-wrap:hover .class-social {
    background: rgba(256, 256, 256, .5);
}

.class .class-wrap:hover .class-social a:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}

.class .class-wrap:hover .class-social a:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
}

.class .class-wrap:hover .class-social a:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .2s;
}

.class .class-wrap:hover .class-social a:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .3s;
}

.class .class-text {
    position: relative;
    padding: 30px 30px 25px 30px;
    border-right: 1px solid rgba(0, 0, 0, .07);
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    border-left: 1px solid rgba(0, 0, 0, .07);
}

.class .class-text h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.class .class-teacher {
    position: relative;
    height: 40px;
    margin-top: -50px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 40px;
}

.class .class-teacher img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #F7CAC9;
}

.class .class-teacher h3 {
    width: calc(100% - 95px);
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 0 15px;
    white-space: nowrap;
    overflow: hidden;
}

.class .class-teacher a {
    width: 40px;
    height: 40px;
    padding: 0 0 3px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 100;
    color: #343148;
    background: #F7CAC9;
    border-radius: 40px;
    transition: .3s;
}

.class .class-wrap:hover .class-teacher a {
    color: #F7CAC9;
    background: #343148;
}

.class .class-meta {
    position: relative;
    display: flex;
    align-items: center;
}

.class .class-meta p {
    margin: 0;
    font-size: 14px;
}

.class .class-meta p i {
    margin-right: 5px;
    color: #343148;
}

.class .class-meta p:first-child {
    margin-right: 10px;
}
/*******************************/
/********* Pricing CSS *********/
/*******************************/
.bemt {
    position: relative;
    width: 100%;
    margin: 45px 0;
    padding: 90px 0;
    background: linear-gradient(rgba(248,154,95, .7), rgba(248,154,95, .7)), url(../img/bg99n.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.bemt .containermtt {
    max-width: 750px;
    height:200px;
    text-align: center;
}

/* .discount .section-header {
    margin-bottom: 20px;
}

.discount .section-header p {
    color: #343148;
    background: transparent;
}

.discount .section-header p::after {
    display: none;
}

.discount .section-header h2 span {
    color: #F32B56;
    font-size: 50px;
}

.discount .discount-text p {
    color: #454545;
}

.discount .discount-text .btn {
    margin-top: 10px;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #F7CAC9;
    background: #343148;
    border-radius: 0;
    transition: .3s;
}

.discount .discount-text .btn:hover {
    color: #343148;
    background: #ffffff;
} */